@import 'src/styles/colors';

:local(.message) {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 74px;
}

:local(.loading) {
  height: 40px;
  width: 40px;
  color: $vibrant-blue;
  position: sticky;
  border: 3px solid;
  border-radius: 50%;
  border-top-color: transparent;
  animation: rotate 0.7s linear infinite;
  margin-top: 20px;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
