@import 'src/styles/colors';

:local(.content) {
  padding: 23px 18px 30px 18px;
}

:local(.btn) {
  margin-top: 40px;
}

:local(.info) {
  margin-top: 8px;
  font-size: 14px;
  color: $battleship-grey;
  text-align: right;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  img {
    margin-top: -3px;
  }
}
